$box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
$dark-color: #5d5d5f;
$med-color: #dbdbdb;
$light-color: #dbdbdb;
$black-color: #1f2021;

.eventsContainer {
  line-height: 40px;
  padding-top: 11rem;

  .topNextContainer {
    box-shadow: $box-shadow;

    .event-header {
      background-color: $light-color;
      border-radius: 3px;
      box-shadow: $box-shadow;
      color: black;
      padding: 0 1rem;
    }
  }

  .events-bottom {
    background-color: $dark-color;
    box-shadow: $box-shadow;
    color: black;
    margin-top: 7rem;
    padding: 4rem 0;

    .bottom-events {
      background-color: $light-color;
      border-radius: 3px;
      box-shadow: $box-shadow;
      color: white;
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 42vh;
      margin: 3rem auto;
      width: 100%;

      .eventsTopLeft {
        color: black;
        font-size: 1.4rem;
        padding: 1rem;
        max-width: 85%;
        margin: 1rem auto 0;
      }
      h5 {
        margin: 0 0 10px;
      }
      h2 {
        margin: 0 0 10px;
        span {
          background-color: $dark-color;
          border-radius: 3px;
          box-shadow: $box-shadow;
          color: white;
          padding: 0.25rem 1rem;
        }
      }

      p {
        font-size: 1.25rem;
        margin: 0;
        padding: 15px 0 25px;
        text-indent: 30px;
      }

      .eventsTopRight {
        .imageContain {
          display: block;
          object-fit: cover;
          height: 42vh;
          width: 100%;
        }
      }
    }
  }
}
