$box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
  rgba(17, 17, 26, 0.1) 0px 0px 8px;
$dark-color: #051040;
$med-color: #f8fbfe;
$light-color: #f8fbfe;
$black-color: #1f2021;
$brown-color: #6f4e37;
$green-color: #9caf88;

.eventsContainer {
  line-height: 40px;
  padding-top: 11rem;

  .topNextContainer {
    box-shadow: $box-shadow;

    .event-header {
      font-size: 2.5rem;
    }
  }

  .events-bottom {
    background-color: $brown-color;
    box-shadow: $box-shadow;
    color: black;
    margin-top: 7rem;
    padding: 4rem 0;

    .bottom-events {
      background-color: $light-color;
      border-radius: 3px;
      box-shadow: $box-shadow;
      color: white;
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 42vh;
      margin: 3rem auto;
      width: 100%;

      .eventsTopLeft {
        color: black;
        font-size: 1.4rem;
        padding: 1rem;
        max-width: 85%;
        margin: 1rem auto 0;
      }
      h5 {
        margin: 20px 0 10px;
      }
      h2 {
        margin: 0 0 10px;
        span {
          background-color: $green-color;
          border-radius: 30px;
          box-shadow: $box-shadow;
          color: white;
          padding: 0.25rem 2rem;
        }
      }

      p {
        font-size: 1.25rem;
        margin: 0;
        padding: 0px 0 25px;
        text-indent: 30px;
      }

      .eventsTopRight {
        .imageContain {
          display: block;
          object-fit: cover;
          height: 42vh;
          width: 100%;
        }
      }
    }
  }
}

.events-par {
  font-size: 22px;
}

@media only screen and (max-width: 850px) {
  .eventsContainer {
    line-height: 28px;
    padding-top: 10rem;

    .events-bottom {
      .bottom-events {
        grid-template-columns: 1fr;
        height: 88vh;

        .eventsTopLeft {
          max-width: 90%;
        }

        h2 {
          span {
            font-size: 1rem;
            padding: 0.25rem 0.5rem;
          }
        }

        .eventsTopRight {
          .imageContain {
            height: 45vh;
            height: 100%;
          }
        }
      }
    }
  }
  .events-par {
    font-size: 17px;
  }
}
