$box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
  rgba(17, 17, 26, 0.1) 0px 0px 8px;
$dark-color: #9f0e0e;
$med-color: #f8fbfe;
$light-color: #f8fbfe;
$black-color: #1f2021;
$brown-color: #6f4e37;
$green-color: #9caf88;

/* start of the home section*/
#top {
  padding: 11rem 0 5rem;

  .top-container {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-gap: 4rem;

    .left-top img {
      box-shadow: $box-shadow;
      display: block;
      height: 60vh;
      object-fit: cover;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }

    .right-top {
      color: $black-color;
      font-size: 1.25rem;
      text-align: left;
      padding-top: 1rem;
      margin: 0 auto;
      width: 75%;

      h1 {
        font-size: 3rem;
        line-height: 80px;
        margin: 20px;
        text-align: center;
      }

      p {
        text-indent: 2rem;
        line-height: 40px;
      }

      .buttons {
        display: flex;
        font-weight: bold;
        padding-top: 1rem;

        .button {
          padding-right: 2rem;
          //transform: skew(-10deg);

          button {
            background-color: $green-color;
            border: 1px solid $light-color;
            border-radius: 50px;
            box-shadow: $box-shadow;
            cursor: pointer;
            font-size: 1.25rem;
            padding: 0.5rem 1rem;

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
      .reviews-link {
        color: white;
      }
    }
  }
}
/* end of the home section */
/* start of the about section*/
#about {
  background-color: $brown-color;
  color: white;

  /* start of top part of about section*/
  .top-about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0rem;
    padding-bottom: 2rem;

    .left-about {
      font-size: 1.75rem;
      padding-top: 1rem;
      margin: 2rem auto 0 auto;
      text-align: left;
      width: 80%;

      h2 {
        text-align: center;
        margin: 0;
      }

      p {
        font-size: 1.25rem;
        line-height: 40px;
        text-indent: 40px;
      }
    }
    .right-about > img {
      box-shadow: $box-shadow;
      display: block;
      height: 40vh;
      object-fit: cover;
      margin: 2rem auto 0 auto;
      width: 75%;
    }
    /* end of top part of about section*/
  }
  /* start of bottom part of about section*/
  .bottom-about-container {
    background-color: $med-color;
    padding-top: 2rem;

    .pics {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 60px;
      height: 52vh;
      margin: 0 auto;
      text-align: center;
      width: 87%;

      h5 {
        color: $green-color;
        font-size: 1.5rem;
        margin: 1rem 0;
      }

      .left-pic {
        background-image: url("https://images.unsplash.com/photo-1545665206-b3e63670666e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 500px;
        box-shadow: $box-shadow;
        display: block;
        height: 18rem;
        margin: 0 auto;
        transition: transform 1s;
        width: 100%;

        &:hover {
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.6),
              rgba(0, 0, 0, 0.6)
            ),
            url("https://images.unsplash.com/photo-1545665206-b3e63670666e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80");
          transform: scale(1.07);
        }
      }
      .middle-pic {
        background-image: url("https://images.unsplash.com/photo-1545665225-b23b99e4d45e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1177&q=80");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 500px;
        box-shadow: $box-shadow;
        display: block;
        height: 18rem;
        margin: 0 auto;
        transition: transform 1s;
        width: 100%;

        &:hover {
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.6),
              rgba(0, 0, 0, 0.6)
            ),
            url("https://images.unsplash.com/photo-1545665225-b23b99e4d45e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1177&q=80");
          transform: scale(1.07);
        }
      }
      .right-pic {
        background-image: url("https://images.unsplash.com/photo-1570470752028-7b2cd13f44a9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 500px;
        box-shadow: $box-shadow;
        display: block;
        height: 18rem;
        margin: 0 auto;
        transition: transform 1s;
        width: 100%;

        &:hover {
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.6),
              rgba(0, 0, 0, 0.6)
            ),
            url("https://images.unsplash.com/photo-1570470752028-7b2cd13f44a9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80");
          transform: scale(1.07);
        }
      }
      .writing-container {
        opacity: 0;
        padding: 5rem 1rem;

        p {
          font-size: 1.25rem;
          margin: 0 auto;
          text-align: left;
          text-indent: 30px;
          width: 75%;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.img-headers {
  display: flex;
}
/* end of the about section */

/* start of the area section*/
#area {
  background-color: $brown-color;
  color: white;
  padding: 2rem 0;

  .area-container {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-gap: 0rem;

    .left-area {
      img {
        box-shadow: $box-shadow;
        display: block;
        height: 48vh;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
      }
    }
    .right-area {
      font-size: 1.25rem;
      margin: 0 auto;
      text-align: left;
      width: 75%;
    }
    h1 {
      font-size: 2.5rem;
      line-height: 80px;
      margin: 0;
      text-align: center;
    }
    p {
      line-height: 40px;
      margin: 0.5rem 0;
      text-indent: 2rem;
    }
  }
}
/* end of the area section */

/* start of the reviews section */
#reviews {
  background-color: $light-color;
  margin: 0 auto;
  font-size: 2rem;
  padding: 5rem 0;

  .slider {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 50vw;

    .clickers {
      cursor: pointer;
      font-size: 4rem;
      opacity: 0.1;

      &:hover {
        opacity: 0.5;
      }
    }
    .review {
      background-color: white;
      box-shadow: $box-shadow;
      height: 38vh;
      width: 55vw;
      padding: 2rem 2rem 0;
      border-radius: 2px;
      margin: 0 auto;

      p {
        font-size: 1.75rem;
        font-style: italic;
        line-height: 45px;
        margin: 0;
        text-indent: 40px;
      }

      .user {
        display: flex;
        justify-content: flex-end;
        padding: 2rem 1.5rem 1rem;

        h5 {
          font-style: normal;
          font-weight: 500;
          margin: 0;
          text-indent: 0px;
        }
      }
    }
  }
}
/* end of the reviews section */

@media only screen and (max-width: 1350px) {
  /* start of top section*/
  #top {
    .top-container {
      .right-top {
        width: 90%;

        h1 {
          font-size: 2rem;
        }
      }
    }
  }
  /* end of top section*/
  #about {
    /* start of top part of about section*/
    .top-about-container {
      grid-template-columns: 1fr;

      .left-about {
        font-size: 1.2rem;
        width: 90%;

        p {
          font-size: 1rem;
        }
      }
      .right-about > img {
        display: none;
      }
    }
  }
  /* end of top part of about section*/
  /* start of bottom part of about section*/

  .bottom-about-container {
    padding-top: 3rem !important;

    .pics {
      height: 50vh !important;

      .left-pic {
        height: 13rem !important;
      }
      .middle-pic {
        height: 13rem !important;
      }
      .right-pic {
        height: 13rem !important;
      }
      .writing-container {
        padding: 3rem 1rem !important;

        p {
          font-size: 1rem !important;
        }
      }
    }
  }

  /* end of the about section */

  /* start of the area section*/
  #area {
    .area-container {
      grid-template-columns: 1fr;

      .left-area {
        img {
          display: none;
        }
      }
      .right-area {
        font-size: 1rem;
        width: 90%;
      }
      h1 {
        font-size: 2rem;
        line-height: 50px;
        margin-bottom: 1rem;
      }
    }
  }
  /* end of the area section */

  /* start of the reviews section */
  #reviews {
    font-size: 2rem;

    .slider {
      width: 90vw;

      .clickers {
        font-size: 4rem;
      }
      .review {
        height: 45vh;
        width: 80vw;

        p {
          font-size: 2rem;
          line-height: 50px;
        }

        .user {
          font-size: 2.25rem;
        }
      }
    }
  }
  /* end of the reviews section */
}

@media only screen and (max-width: 1100px) {
  /* start of top section*/
  #top {
    padding: 7rem 0 7rem;

    .top-container {
      grid-template-columns: 1fr;
      grid-gap: 0rem;

      .left-top img {
        display: none;
      }
    }
  }
  /* end of top section*/

  /* start of bottom part of about section*/
  .bottom-about-container {
    .pics {
      .left-pic {
        height: 11rem !important;
      }
      .middle-pic {
        height: 11rem !important;
      }
      .right-pic {
        height: 11rem !important;
      }
      .writing-container {
        padding: 2rem 1rem !important;

        p {
          font-size: 0.85rem !important;
        }
      }
    }
  }

  /* end of the about section */

  /* start of the reviews section */
  #reviews {
    .slider {
      .clickers {
        font-size: 3rem;
      }
      .review {
        height: 50vh;

        p {
          font-size: 1.8rem;
        }

        .user {
          font-size: 2rem;
        }
      }
    }
  }
  /* end of the reviews section */
}

@media only screen and (max-width: 900px) {
  /* start of bottom part of about section*/
  .bottom-about-container {
    .pics {
      gap: 20px !important;
      height: 35vh !important;

      h5 {
        font-size: 0.9rem !important;
      }

      .left-pic {
        height: 8rem !important;
      }
      .middle-pic {
        height: 8rem !important;
      }
      .right-pic {
        height: 8rem !important;
      }
      .writing-container {
        p {
          font-size: 0.55rem !important;
          text-indent: 10px !important;
        }
      }
    }
  }

  /* end of the about section */

  /* start of the reviews section */
  #reviews {
    .slider {
      .clickers {
        font-size: 2.5rem;
      }
      .review {
        height: 60vh;

        p {
          font-size: 1.6rem;
        }
      }
    }
  }
  /* end of the reviews section */
}

@media only screen and (max-width: 500px) {
  /* start of bottom part of about section*/
  .bottom-about-container {
    .pics {
      grid-template-columns: 1fr !important;
      gap: 10px !important;
      height: 140vh !important;

      .left-pic {
        height: 11rem !important;
      }
      .middle-pic {
        height: 11rem !important;
      }
      .right-pic {
        height: 11rem !important;
      }
      .writing-container {
        p {
          font-size: 1.1rem !important;
        }
      }
    }
  }

  /* end of the about section */

  /* start of the reviews section */
  #reviews {
    .slider {
      .clickers {
        font-size: 2rem;
      }
      .review {
        height: 68vh;

        p {
          font-size: 1.3rem;
          line-height: 43px;
        }

        .user {
          font-size: 1.8rem;
        }
      }
    }
  }
  /* end of the reviews section */
}

@media only screen and (max-width: 380px) {
  /* start of top section*/
  #top {
    .top-container {
      .right-top {
        font-size: 1rem;
        width: 100%;

        h1 {
          font-size: 1.5rem;
        }
      }
    }
  }
  .buttons {
    .button {
      padding-right: 1rem !important;

      button {
        font-size: 0.9rem !important;
      }
    }
  }
  /* end of top section*/
  /* start of bottom part of about section*/
  .bottom-about-container {
    .pics {
      height: 180vh !important;

      .left-pic {
        height: 14rem !important;
      }
      .middle-pic {
        height: 14rem !important;
      }
      .right-pic {
        height: 14rem !important;
      }
      .writing-container {
        p {
          font-size: 1rem !important;
        }
      }
    }
  }
  /* end of the about section */
  /* start of the reviews section */
  #reviews {
    .slider {
      .clickers {
        font-size: 1.5rem;
      }
      .review {
        height: 53vh;

        p {
          font-size: 0.9rem;
          line-height: 27px;
        }

        .user {
          font-size: 1rem;
        }
      }
    }
  }
  /* end of the reviews section */
}

@media only screen and (max-width: 280px) {
  .review {
    height: 60vh !important;
  }
}
