$box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
  rgba(17, 17, 26, 0.1) 0px 0px 8px;
$dark-color: #5d5d5f;
$med-color: #dbdbdb;
$light-color: #dbdbdb;
$black-color: #1f2021;

/* start of the home section*/
#top {
  padding: 10rem 0 5rem;

  .top-container {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-gap: 4rem;

    .left-top img {
      box-shadow: $box-shadow;
      display: block;
      height: 60vh;
      object-fit: cover;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }

    .right-top {
      color: $black-color;
      font-size: 1.25rem;
      text-align: left;
      padding-top: 1rem;
      margin: 0 auto;
      width: 75%;

      h1 {
        font-size: 3rem;
        line-height: 80px;
        text-align: center;
      }

      p {
        text-indent: 2rem;
        line-height: 40px;
      }

      .buttons {
        display: flex;
        font-weight: bold;
        padding-top: 1rem;

        .button {
          padding-right: 2rem;
          transform: skew(-10deg);

          button {
            background-color: $dark-color;
            border: 1px solid $light-color;
            border-radius: 5px;
            box-shadow: $box-shadow;
            cursor: pointer;
            font-size: 1.25rem;
            padding: 0.5rem 1rem;

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
      .reviews-link {
        cursor: pointer;
        font-size: 1.25rem;
        font-style: italic;
        padding: 0.5rem 1rem;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
/* end of the home section */
/* start of the about section*/
#about {
  background-color: $dark-color;
  color: white;

  /* start of top part of about section*/
  .top-about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;

    .left-about {
      font-size: 2rem;
      padding-top: 1rem;
      margin: 4rem auto 0 auto;
      text-align: left;
      width: 80%;

      h2 {
        text-align: center;
        margin-bottom: 0;
      }

      p {
        font-size: 1.5rem;
        line-height: 40px;
        text-indent: 40px;
      }
    }
    .right-about > img {
      box-shadow: $box-shadow;
      display: block;
      height: 60vh;
      object-fit: cover;
      margin: 4rem auto 0 auto;
      width: 75%;
    }
    /* end of top part of about section*/
  }
  /* start of bottom part of about section*/
  .bottom-about-container {
    padding: 5rem 0;
    h3 {
      font-size: 3rem;
      text-align: center;
    }
    .pics {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
      height: 70vh;
      margin: 0 auto;
      text-align: center;
      width: 87%;

      .left-pic {
        background-image: url("https://images.unsplash.com/photo-1545665206-b3e63670666e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: $box-shadow;
        display: block;
        height: 25rem;
        margin: 0 auto;
        transition: transform 1s;
        width: 100%;

        &:hover {
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.6),
              rgba(0, 0, 0, 0.6)
            ),
            url("https://images.unsplash.com/photo-1545665206-b3e63670666e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80");
          transform: scale(1.12);
        }
      }
      .middle-pic {
        background-image: url("https://images.unsplash.com/photo-1545665225-b23b99e4d45e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1177&q=80");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: $box-shadow;
        display: block;
        height: 25rem;
        margin: 0 auto;
        transition: transform 1s;
        width: 100%;

        &:hover {
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.6),
              rgba(0, 0, 0, 0.6)
            ),
            url("https://images.unsplash.com/photo-1545665225-b23b99e4d45e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1177&q=80");
          transform: scale(1.12);
        }
      }
      .right-pic {
        background-image: url("https://images.unsplash.com/photo-1570470752028-7b2cd13f44a9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: $box-shadow;
        display: block;
        height: 25rem;
        margin: 0 auto;
        transition: transform 1s;
        width: 100%;

        &:hover {
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.6),
              rgba(0, 0, 0, 0.6)
            ),
            url("https://images.unsplash.com/photo-1570470752028-7b2cd13f44a9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80");
          transform: scale(1.12);
        }
      }
      .writing-container {
        opacity: 0;
        padding: 5rem 0;

        h5 {
          font-size: 2.5rem;
          margin: 2rem 0;
        }
        p {
          font-size: 1.4rem;
          margin: 0 auto;
          text-align: left;
          text-indent: 30px;
          width: 75%;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
/* end of the about section */

/* start of the area section*/
#area {
  background-color: $light-color;
  color: black;
  padding: 5rem 0;

  .area-container {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-gap: 4rem;

    .left-area {
      img {
        box-shadow: $box-shadow;
        display: block;
        height: 60vh;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
      }
    }
    .right-area {
      font-size: 1.25rem;
      margin: 0 auto;
      text-align: left;
      width: 75%;
    }
    h1 {
      font-size: 3rem;
      line-height: 80px;
      text-align: center;
    }
    p {
      line-height: 40px;
      text-indent: 2rem;
    }
  }
}
/* end of the events section */

/* start of the reviews section */
#reviews {
  background-color: $dark-color;
  margin: 0 auto;
  font-size: 2rem;
  padding: 5rem 0;

  .slider {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 50vw;

    .clickers {
      cursor: pointer;
      font-size: 4rem;
      opacity: 0.1;

      &:hover {
        opacity: 0.5;
      }
    }
    .review {
      box-shadow: $box-shadow;
      height: 36vh;
      width: 55vw;
      background-color: $light-color;
      color: $black-color;
      padding: 2rem 2rem 0;
      border-radius: 2px;
      margin: 0 auto;

      h5 {
        font-style: italic;
        line-height: 45px;
        margin: 0;
        text-indent: 40px;
      }

      .user {
        display: flex;
        justify-content: flex-end;
        padding: 2rem 5rem 1rem;

        h5 {
          font-style: normal;
          margin: 0;
          text-indent: 0px;
        }
      }
    }
  }
}
/* end of the reviews section */

/* Make the website responsive */
@media only screen and (max-width: 1300px) {
  .container {
    max-width: 90%;
  }

  nav {
    padding: 0 3rem;
  }

  .menu {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
  }

  .sizes > p {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  nav {
    position: relative;
    display: inherit;
    font-size: 1.5rem;
    padding: 0;
  }

  .nav-left {
    display: flex;
    justify-content: center;
    background-color: #5d5d5f;
    color: #dbdbdb;
  }

  .nav-icon {
    margin: auto 0;
    padding-right: 1rem;
  }

  .coffee-icon {
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }

  .nav-middle > ul {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .nav-middle > ul > li {
    padding: 0 1rem;
  }

  .active {
    font-weight: bold;
  }

  .nav-right {
    display: flex;
    justify-content: center;
    background-color: #5d5d5f;
    color: #dbdbdb;
  }

  #home {
    padding: 0 0 3rem;
  }

  .home-container {
    grid-template-columns: 1fr;
    grid-gap: 0rem;
  }

  .left-home > img {
    display: none;
  }

  .top-about-container {
    grid-template-columns: 1fr;
    grid-gap: 0rem;
  }

  .right-about > img {
    display: none;
  }

  .pics {
    grid-template-columns: 1fr;
    text-align: center;
    grid-gap: 2rem;
  }

  .menu {
    grid-template-columns: 1fr;
    grid-gap: 5rem;
  }

  .area-container {
    grid-template-columns: 1fr;
    grid-gap: 0rem;
  }

  .left-area > img {
    display: none;
  }

  .review {
    width: 90%;
    background-color: #5d5d5f;
    color: #dbdbdb;
    padding: 2rem 2rem 0;
    border-radius: 5px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 450px) {
  nav {
    font-size: 1rem;
  }

  .sizes > p {
    display: inherit;
  }
}

/*
$light-color: #8a624a;
$darker-color: #2d0f10;
$dark-color: #3b271d;
$med-color: #4a2c2a;
$black-color: #1f2021;
$tan-color: #fffaf1;

*/
