$box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
  rgba(17, 17, 26, 0.1) 0px 0px 8px;
$dark-color: #051040;
$med-color: #f8fbfe;
$light-color: #f8fbfe;
$black-color: #051040;
$brown-color: #6f4e37;
$green-color: #9caf88;

.shop-container {
  padding: 5rem 0;
}

.header-container {
  .header-tittle {
    border-bottom: 2px solid $brown-color;
    font-size: 3rem;
    margin-bottom: 0;
    padding: 1rem 0;
    text-align: center;
  }
}

.shop-main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 2rem 0;
}

.shopNav {
  border-right: $brown-color 2px solid;
  width: 75%;

  p {
    cursor: pointer;
    font-size: 1.1rem;
    padding: 0.35rem 0;
    text-transform: uppercase;

    &:hover {
      font-weight: bold;
    }
  }
}

.item-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;

  .item-card {
    background-color: white;
    box-shadow: $box-shadow;
    width: 100%;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.05);
    }

    .card-top {
      background-repeat: no-repeat;
      border-radius: 3px;
      height: 43vh;
      display: grid;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      width: 80%;

      .item-img-container {
        img {
          height: 25vh;
          width: 100%;
          object-fit: contain;
        }
      }
    }
    .card-bottom {
      color: $brown-color;
      height: 18vh;
      width: 100%;
      padding: 5px;

      h3 {
        margin: 0 0.75rem;
        text-align: left;
      }
      .card-description {
        border-top: 2px solid $brown-color;
        font-size: 1.25rem;
        padding: 0.75rem 0;
      }

      .buy-item {
        display: flex;
        justify-content: space-between;
        margin-top: 0.5rem;
        .card-price {
          font-size: 1rem;
          opacity: 0.7;
          padding-top: 8px;
        }
        .add-basket {
          background-color: $green-color;
          border-radius: 30px;
          color: white;
          cursor: pointer;
          font-size: 2rem;
          margin-right: 0.8rem;
          padding: 0.5rem;

          &:hover {
            opacity: 0.85;
          }
        }
      }
    }
  }
}
.activeShop {
  color: $brown-color;
  font-weight: bolder;
}

@media only screen and (max-width: 850px) {
  .header-container {
    .header-tittle {
      font-size: 2rem;
    }
  }

  .shop-main {
    grid-template-columns: 1fr 2fr;
  }

  .shopNav {
    border-right: none;

    p {
      cursor: pointer;
      font-size: 0.7rem;
      padding: 0.25rem 0;
    }
  }

  .item-cards {
    grid-template-columns: 1fr;
    grid-gap: 40px;

    .item-card {
      .card-top {
        height: 40vh;

        .item-img-container {
          img {
            height: 25vh;
          }
        }
      }
      .card-bottom {
        height: 22vh;
      }
    }
  }
}
