@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&display=swap");
$box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
  rgba(17, 17, 26, 0.1) 0px 0px 8px;
$dark-color: #5d5d5f;
$med-color: #f8fbfe;
$light-color: #f8fbfe;
$black-color: black;
$brown-color: #6f4e37;
$green-color: #9caf88;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: $light-color;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 75%;
  margin: 0 auto;
}

/* start of the nav bar */
nav {
  background-color: $light-color;
  box-shadow: $box-shadow;
  color: black;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7.5rem;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  z-index: 1;

  .nav-left {
    display: flex;
    font-family: "Great Vibes", cursive;
  }
  .nav-middle ul {
    display: flex;
    margin-right: 9rem;

    li {
      list-style: none;
      margin: 0 2rem;

      &:hover {
        font-weight: bold;
      }

      .active {
        font-weight: bold;
      }
    }
  }
  .nav-right {
    display: flex;
    z-index: 1000 !important;

    .shopping-icon {
      border-radius: 50px;
      cursor: pointer;
      font-size: 2rem;
      padding: 0.25rem;
      margin-left: 1rem;
      margin-bottom: 0rem;

      &:hover {
        opacity: 0.8;
      }
    }
    .badge {
      background-color: $green-color;
      border-radius: 50px;
      color: white;
      font-size: 12px;
      padding: 4px 9px;
      position: absolute;
      right: 6.65rem;
      top: 0.25rem;
      z-index: -5;
    }
  }
}

a {
  color: $black-color;
  text-decoration: none;
}

.toggle-button {
  position: absolute;
  background-color: $light-color;
  border: none;
  cursor: pointer;
  top: 2.8rem;
  right: 15rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 50px;
  height: 25px;

  span {
    height: 3px;
    background-color: black;
    border-radius: 10px;
    width: 100%;
  }
}
.activeNav {
  color: purple;
}
/* end of the nav bar */

/* Start of Footer Section */

.footer {
  background-color: $black-color;
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  div {
    margin: 0.5rem auto 0;
  }

  div h5 {
    font-size: 1.2rem;
    margin: 0.3rem;
  }

  div p {
    margin: 0.3rem 0.3rem 0;
  }

  .socials {
    font-size: 1.75rem;

    a {
      color: white;
    }

    .social {
      margin: 1.1rem 0.5rem;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

/* End of Footer Section */

@media only screen and (max-width: 1000px) {
  nav {
    display: block;
    padding: 0.25rem 1rem;

    .nav-left {
      height: 5rem;
      h1 {
        top: 0.25rem;
        margin: 1.5rem auto;
      }
    }

    li {
      padding: 0.75rem 0;
      margin: 0 auto;
    }
  }

  .toggle-button {
    display: flex;
    top: 2rem;
    left: 1rem;
  }

  .nav-nav {
    background-color: $light-color;
    display: none !important;
    flex-direction: column;
    font-size: 1.25rem;
    width: 50%;
    padding-left: 5rem;
    margin: 0 auto;
  }

  .active-nav {
    display: flex !important;
  }

  .badge {
    padding: 2px 7px !important;
    right: 0.6rem !important;
  }
  .footer {
    display: none;
  }
  .shopping-icon {
    margin-left: 0rem;
    margin-bottom: 0rem;
    position: absolute;
    right: 1rem;
    top: 1.5rem;
  }
}

@media only screen and (max-width: 300px) {
  .nav-left {
    h1 {
      display: none;
    }
  }
}
