@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
$box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
  rgba(17, 17, 26, 0.1) 0px 0px 8px;
$dark-color: #5d5d5f;
$med-color: #dbdbdb;
$light-color: #dbdbdb;
$black-color: #1f2021;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: $light-color;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 75%;
  margin: 0 auto;
}

/* start of the nav bar */
nav {
  background-color: $light-color;
  box-shadow: $box-shadow;
  color: $black-color;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7.5rem;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  z-index: 1;

  .nav-left {
    display: flex;

    .coffee-icon {
      font-size: 2.5rem;
      padding: 0 0.75rem 0.3rem 0;
      margin: auto;
    }
  }
  .nav-middle ul {
    display: flex;
    margin-right: 9rem;

    li {
      list-style: none;
      margin: 0 2rem;

      &:hover {
        font-weight: bold;
      }

      .active {
        font-weight: bold;
      }
    }
  }
  .nav-right {
    display: flex;

    .shopping-icon {
      border-radius: 50px;
      cursor: pointer;
      font-size: 2rem;
      padding: 0.25rem;
      margin-left: 1rem;
      margin-bottom: 0rem;

      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}

a {
  color: $black-color;
  text-decoration: none;
}

/* end of the nav bar */

/* Start of Footer Section */

.footer {
  background-color: $black-color;
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  div {
    margin: 0.5rem auto 0;
  }

  div h5 {
    font-size: 1.2rem;
    margin: 0.3rem;
  }

  div p {
    margin: 0.3rem 0.3rem 0;
  }

  .socials {
    font-size: 1.75rem;

    a {
      color: white;
    }

    .social {
      margin: 1.1rem 0.5rem;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

/* End of Footer Section */
